* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.details-page {
    height: auto;
    min-height: 100vh;
}

.details-page-info-section{
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.details-page-poster {
    height: 65vh;
    width: 20vw;
    min-width: 400px;
    border-radius: 16px;
    box-shadow: 0 2px 5px black;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 25px;

    transform: translateX(10%);
    opacity: 0.5;
    transition: all .3s ease;
}

.left-info.loaded {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
    transform: translateX(0);
    opacity: 1;
}

.details-page-title {
    margin-top: 60px;
    color: white;
    font-size: 2.5rem;
}

.details-page-genres {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 10px;
}

.details-page-genres li{
    list-style: none;
    padding: 5px 15px;
    border-radius: 24px;
    color: rgb(255, 255, 255);
    background-color: rgba(128, 128, 128, 0.418);
}

.details-page-summary {
    color: white;
    font-size: 1rem;
    padding: 10px;
    text-align: justify;
}

.details-page-score {
    display: flex;
    align-items: center;
    gap: 5px;
    position: absolute;
    font-size: 1.5rem;
    background-color: rgba(49, 48, 48, 0.645);
    padding: 10px;
    border-radius: 24px;
    top: 15%;
    right: 31%;
    color: white;
}

.star-icon {
    color: rgb(255, 239, 21);
    stroke: black;
    stroke-width: 5;
}

.details-page-date, .details-page-duration {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    background-color: rgba(128, 128, 128, 0.418);
    padding: 10px;
    border-radius: 24px;
}

.details-page-bg {
    height: 100vh;
    width: 100vw;
    max-width:100%;
    object-fit: fill;
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(4.5px);
    z-index: -2;
}

.filter {
    height: 100vh;
    width: 100vw;
    max-width:100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    z-index: -1;
}

.recommendations {
    padding: 15px;
    background-color: #221d2bb7;
    border-top: 1px solid rgba(239, 233, 233, 0.2);
    border-bottom: 1px solid rgba(239, 233, 233, 0.2);
}
.rec-title{
    font-size: 2rem;
    font-weight: 400;
    color: white;
}

.options-buttons {
    display: flex;
    width: auto;
    gap: 25px;
}

.options-buttons a {
    margin-top: 100px;
    background-color: rgba(128, 128, 128, 0.418);
    padding: 15px;
    width: 20vw;
    max-width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 24px;
    font-size: 1.5rem;
    transition: all .3s ease;
    color: white;
}

.options-buttons a:hover{
    color: rgba(246, 241, 241, 0.882);
    background-color: rgba(128, 128, 128, 0.649);
    transform: translateY(4%);
    cursor: pointer;
}

.fav-icon-details {
    margin-top: 100px;
    width: 5vw;
    background-color: rgba(128, 128, 128, 0.418);
    border: none;
    border-radius: 24px;
    color: rgb(232, 223, 223);
    transition: all .3s ease;
}

.fav-icon-details.active {
    color: red;
}

.fav-icon-details:hover{
    color: red;
    background-color: rgba(128, 128, 128, 0.649);
    transform: translateY(4%);
    cursor: pointer;
}

.fav-icon-details.active:hover {
    color: rgb(241, 237, 237);
}

@media (max-width:900px) {
    .details-page-info-section{
        grid-template-columns: 1fr ;
    }
    .details-page-title {
        margin-top: 40px;
        color: white;
        font-size: 2rem;
    }
    .details-page-poster {
        height: 35vh;
        width: 3vw;
        min-width: 190px;
        position: absolute;
        top: -90%;
        right: 10%;
    }
    .details-page-score {
        top: -80%;
        right: 11%;
        z-index: 10;
    }
    .options-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        gap: 0;
        position: absolute;
        top: 70%;
        left: 20%;
    }
    .options-buttons a {
        margin-top: 10px;
    }

    .fav-icon-details {
        margin-top: 10px;
        width: 15vw;
        font-size: 1.2rem;
    }
    .options-buttons a {
        width: 25vw;
        font-size: 1.2rem;
    }
}

@media (max-width:550px) {
    .details-page-poster {
        height: 35vh;
        min-width: 150px;
        right: 25%;
        transform: translateX(25%);
    }

    .details-page-title {
        margin-top: 40px;
        font-size: 1.5rem;
    }

    .details-page-genres {
        width: 80vw;
        gap: 2vw;
        margin-top: 2.5px;
    }

    .details-page-genres li{
        font-size: 0.75rem;
    }

    .details-page-summary {
        font-size: 0.75rem;
        padding: 5px;
    }

    .details-page-date, .details-page-duration {
        font-size: 0.75rem;
        padding: 5px;
    }

    .details-page-score {
        top: -92.5%;
        right: 16%;
        scale: 0.6;
        z-index: 10;
    }
    .options-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        gap: 0;
        top: 70%;
        left: 15%;
    }
    .options-buttons a {
        margin-top: 10px;
    }

    .fav-icon-details {
        margin-top: 10px;
        width: 15vw;
        font-size: 0.8rem;
    }
    .options-buttons a {
        width: 25vw;
        font-size: 0.8rem;
    }
    .rec-title{
        font-size: 1.5rem;
    }
}

.modal-trailer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.modal-trailer iframe {
    width: 50vw;
    height: 75vh;
    min-width: 500px;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.425);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
}

.cast-card {
    width: 10vw;
    height: 45vh;
    background-color: rgba(128, 128, 128, 0.418);
    margin: 7.5px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
}

.cast-card img{
    width: 10vw;
    height: 35vh;
    border-radius: 12px 12px 0 0;
    min-width: 200px;
}

.cast-card h6{
    font-size: 1rem;
    color: white;
    font-weight: 500;
    padding: 5px;
    margin-top: 5px;
}

.cast-card p{
    color: white;
    font-weight: 300;
}

@media (max-width: 520px) {
    .cast-card {
        min-width: 165px;
    }
    .cast-card img{
        min-width: 165px;
    }
    .modal-trailer iframe {
        min-width: 350px;

    }
}

.details-items-scroll{
    display: flex;
    overflow-x: scroll;
}

.details-items-scroll::-webkit-scrollbar {
    height: 5px;
}

.details-items-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.details-items-scroll::-webkit-scrollbar-thumb {
    background: #e3e3e3ab;
    border-radius: 10px;
}