* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

main.dark {
    --main-bg: #22253f;
    --second-bg: rgb(41, 43, 87);
    --main-text: white;
    --second-text:rgba(248, 246, 246, 0.786);
    --scroll-bar: #e3e3e3ab;
    --border-sections: rgba(246, 242, 242, 0.142);

    transition: all .5s ease;
}

main.light {
    --main-bg: rgb(228,229,241);
    --second-bg: rgb(250,250,250);
    --main-text: rgb(34, 34, 48);
    --second-text:rgba(79, 77, 77, 0.786);
    --scroll-bar: rgba(64, 64, 66, 0.671);
    --border-sections: rgba(25, 24, 24, 0.193);

    transition: all .5s ease;
}

.home-page-header {
    height: 75vh;
    /* background-color: var(--main-bg); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border-sections);
}

.home-page-header h1 {
    color: var(--main-text);
    font-size: 3rem;
    font-weight: 400;
    transform: translateY(100%);
    opacity: 0.5;
    transition: all .4s ease;
}

.home-page-header h1.loaded {
    color: var(--main-text);
    font-size: 3rem;
    font-weight: 400;
    transform: translateY(0);
    opacity: 1;
}

.home-page-header input {
    border-radius: 24px;
    border: none;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 10px;
    padding-left: 50px;
    margin: 10px;
    width: 35vw;
}
.home-page-header input::placeholder {
    color: rgba(0, 0, 0, 0.425);
}
.home-page-header input:focus {
    outline: none;
}

.search-bar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    transform: translateY(35%);
    opacity: 0.5;
    transition: all .4s ease;
}

.search-bar.loaded {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

    transform: translateY(0%);
    opacity: 1;
}

.magnifying-glass-icon {
    position: absolute;
    top: 50%;
    left: 3.5%;
    transform: translate(-3.5%, -50%);
    color: rgba(0, 0, 0, 0.425);
}

.home-page-header button{
    border: none;
    border-radius: 24px;
    padding: 15px;
    font-size: 1.2rem;
    width: 10vw;
    background-color: #a64cff;
    color: var(--main-text);
    transition: all .3s ease;
}

.home-page-header button:hover{
    cursor: pointer;
    background-color: #b36afd;
    transform: translateY(4%);
}

.trending-title {
    font-size: 1.5rem;
    font-weight: 400;
    transition: all .3s ease;
}

.trending-title.op {
    opacity: 0.3;
}

.trending-title.behind {
    font-size: 1.15rem;
    top: 20%;
    position: absolute;
    opacity: 0;
    transform: translateX(-100%);
    transition: all .4s ease;
    color: var(--main-text);
}

.trending-title.behind.active {
    opacity: 1;
    transform: translateX(210%);
}

.trending-title.fav.behind.active {
    opacity: 1;
    transform: translateX(110%);
}

.see-more-hidden {
    color: var(--second-text);
    display: none;
}

.see-more-link {
    color: var(--second-text);
}

.trending-list {
    background-color: var(--main-bg);
    padding: 10px;
    border-bottom: 1px solid var(--border-sections);
}

.trending-top {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: var(--second-text);
}

.trending-items-scroll {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
}

.trending-items-scroll::-webkit-scrollbar {
    height: 5px;
}

.trending-items-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.trending-items-scroll::-webkit-scrollbar-thumb {
    background: var(--scroll-bar);
    border-radius: 10px;
}

.movie-item-container {
    position: relative;
    list-style: none;
    width: 25vw;
    max-width: 220px;
    transition: all 0.3s ease-in-out;
}

.movie-item-container:hover {
    transform: scale(0.95);
    cursor: pointer;
}

.movie-item {
    width: 11vw;
    height: 35vh;
    min-width: 200px;
    border-radius: 12px;
    list-style: none;
    margin: 9px;
    position: relative;
    box-shadow: 0 6px 12px black;
    transition: all 0.3s ease-in-out;
}

.movie-item:hover {
    box-shadow: 0 1px 3px rgb(235, 234, 234);
}

.movie-item-img {
    min-width: 200px;
    width: 11vw;
    height: 35vh;
    border-radius: 12px;
}

.img-overlay {
    width: 100%;
    height: 35vh;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0000008a;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}

.img-overlay:hover {
    opacity: 1;
}

.movie-item-title {
    width: 11vw;
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
    padding:10px;
    font-weight: 500;
}

.movie-item-score {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 6vw;
    padding: 2.5px;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    top: 2.5%;
    right: 0;
    min-width: 75px;
}

.star-icon {
    color: rgb(255, 239, 21);
    stroke: black;
    stroke-width: 5;
}

.movie-item-score-number {
    font-size: 1rem;
    font-weight: 600;
    margin-left: 5px;
    color: black;
}

.favorite-list-home {
    background-color: var(--main-bg);
    padding: 10px;
    border-bottom: 1px solid var(--border-sections);
    display: flex;
    overflow-x: scroll;
    transition: all .3s ease;
}

.favorite-list-home::-webkit-scrollbar {
    height: 5px;
}

.favorite-list-home::-webkit-scrollbar-track {
    background: transparent;
}

.favorite-list-home::-webkit-scrollbar-thumb {
    background: #e3e3e3ab;
    border-radius: 10px;
}

.favorite-top {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color: var(--second-text);
    background-color: var(--main-bg);
}

.fav-icon-item {
    position: absolute;
    bottom: 10%;
    right: 15%;
    border: none;
    background-color: transparent;
    color: rgb(242, 234, 234);
    transition: all .3s ease;
}

.fav-icon-item.active {
    color: red;
}

.fav-icon-item:hover{
    color: red;
    cursor: pointer;
    transform: scale(1.1);
}

.fav-icon-item.active:hover {
    color: rgb(241, 237, 237);
}

footer {
    background-color: rgb(36, 34, 34);
}

.footer-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    font-size: 1.5rem;
    padding-top: 50px;
}

.footer-top-left, .footer-top-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.footer-top-left a, .footer-top-right a {
    color: white;
    transition: all .3s ease;
}

.footer-top-left a:hover, .footer-top-right a:hover {
    color: rgb(216, 207, 207);
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    justify-content: space-around;
    gap: 100px;
    margin-top: 50px;
    padding-bottom: 25px;
}

.footer-bottom-left, .footer-bottom-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5px;
    color: white;
}

.footer-bottom-left p {
    font-size: 1rem;
}

.footer-bottom-left a {
    color: white;
    text-decoration: underline;
}

.footer-bottom-right ul{
    display: flex;
    gap: 20px;
}

.footer-bottom-right ul li{
    list-style: none;
}

.footer-bottom-right ul li a{
    color: white;
    transition: all .3s ease;
}

.footer-bottom-right ul li a:hover{
    color: rgb(234, 227, 227);
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(75%)
}
@media (max-width:950px) {
    .home-page-header h1 {
        font-size: 2rem;
    }

    .home-page-header h1.loaded {
        font-size: 2rem;
    }
    .home-page-header input {
        font-size: 1.25rem;
        padding-left: 40px;
        width: 40vw;
    }
    .home-page-header input::placeholder {
        font-size: 1rem;
    }

    .magnifying-glass-icon {
        left: 5%;
        transform: translate(-5%, -50%);
    }

    .home-page-header button{
        font-size: 0.9rem;
        width: 15vw;
    }
    .video-bg {
        left: -100%;
    }
}
@media (max-width: 700px) {
    .footer-top {
        gap: 50px;
        font-size: 1rem;
    }
    .footer-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding-bottom: 25px;
    }
    .footer-bottom-left, .footer-bottom-right{
        align-items: center;
    }

    .footer-bottom-left p {
        font-size: 0.8rem;
    }

    .movie-item {
        min-width: 150px;
        margin: 12px;
        position: relative;
    }
    .movie-item-img {
        min-width: 150px;
    }

    .home-page-header h1 {
        font-size: 1.5rem;
    }
    .home-page-header h1.loaded {
        font-size: 1.5rem;
    }
    .home-page-header input {
        font-size: 1rem;
    }
    .home-page-header input::placeholder {
        font-size: 0.8rem;
    }
    .fav-icon-item {
        right: 10%;
    }
    .see-more-hidden {
        display: block;
    }
    .trending-title.behind {
        display: none;
    }
    .fav-icon-item:hover{
        color: rgb(241, 237, 237);
    }
    .fav-icon-item.active:hover {
        color: red;
    }
    .movie-item-container:hover {
        transform: scale(1);
    }
    .video-bg {
        left: -150%;
    }
}
@media (max-width:550px) {
    .movie-item-container {
        position: relative;
        list-style: none;
        width: 45vw;
        max-width: 220px;
        transition: all 0.3s ease-in-out;
    }
    .fav-icon-item {
        position: absolute;
        bottom: 10%;
        right: 8%;
        border: none;
        background-color: transparent;
        color: rgb(242, 234, 234);
        transition: all .3s ease;
    }
    .video-bg {
        left: -225%;
    }
}
@media (max-width:500px) {
    .home-page-header h1 {
        font-size: 1rem;
    }
    .home-page-header h1.loaded {
        font-size: 1rem;
    }
    .home-page-header input {
        font-size: 1rem;
        padding-left: 30px;
        width: 70vw;
    }
    .home-page-header input::placeholder {
        font-size: 0.8rem;
    }

    .search-bar {
        flex-direction: column;
    }

    .magnifying-glass-icon {
        top: 27.5%;
        left: 7.5%;
        transform: translate(-5%, -27.5%);
    }

    .home-page-header button{
        padding: 10px 5px;
        font-size: 0.8rem;
        width: 30vw;
    }
}


@media (max-width:425px){
    .video-bg {
        left: -310%;
    }
}
