* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(41, 43, 87);
    height: 7.5vh;
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar ul{
    margin-left: 50px;
    display: flex;
    gap: 50px;
}

.navbar button{
    margin-right: 50px;
}

.nav-item {
    color: white;
}

/* .nav-item:hover {
    color: rgb(161, 92, 92);
} */