* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(41, 43, 87);
    height: 7.5vh;
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar ul{
    margin-left: 50px;
    display: flex;
    gap: 50px;
}

.navbar button{
    margin-right: 50px;
}

.nav-item {
    color: white;
    transition: all .3s ease;
}

.nav-item:hover {
    cursor: pointer;
    color: rgb(233, 235, 233);
}

.responsive-ham-button{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    display: none;
}


@media (max-width:650px) {
    .responsive-ham-button {
        display: block;
    }
    .navbar ul{
        align-items: center;
        flex-direction: column;
        position: fixed;
        top: 7.5%;
        left: -15%;
        background-color: rgb(41, 43, 87);
        width: 50vw;
        padding: 25px 0 25px 0;
        transform: translateX(-350%);
        transition: all .5s ease;
    }
    .navbar ul.active{
        transform: translateY(0%);
    }
    .navbar {
        justify-content: flex-start;
    }
}